<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8"/>
	<title>bonjour</title>
	<style>

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}
.navbar-inverse{
	background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.custom{
	color:#fff!important;
	width:200px;
}
.navbar-fixed-left .navbar-nav li >a{
	color:#fff!important;
}
.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 200px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
	background-color:rgba(0,0,0,.2)!important;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
	
    </style>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	
</head>
<body>
	<div class="navbar-inverse navbar-fixed-left custom">
		<a class="navbar-brand " href="#">{{parent.username}}</a>
		<ul class="nav navbar-nav ">
			<li><a href="{{path('home')}}">Home</a></li>
			<li><a href="#">Enfant</a></li>
			<li><a href="#">Maps</a></li>
			<li><a href="{{path('security_logout')}}">Deconnexion</a></li>
		</ul>
    </div>

	<div class="container">
		<div class="row">

			
			<h2>Enfants:</h2>
            <div id="cloud-container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nom</th>
						<th scope="col">Age</th>
						<th scope="col">Modification</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mohamed</td>
						<td>14</td>
						<td><button type="submit" class="btn btn-warning">Modifier</button></td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
        

        
	</div>



    
	
</body>
</html>