{% extends "base.html.twig" %}
{% block head %}

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <title>Inscription</title>
{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <div class="container mb-3">


        <div class="row  justify-content-center align-items-center">

            <aside
                class="card col-sm-6">
                <!-- Default form register -->
                <form class="card-body " method="POST">

                    <p class="h4 mb-4">Inscription</p>

                    <input
                    autofocus class="form-control mb-4" id="inputusername" name="username" placeholder="username" required type="text">

                    <!-- E-mail -->
                    <input
                    class="form-control mb-4" id="defaultRegisterFormEmail" name="email" placeholder="E-mail" type="email">

                    <!-- Password -->
                    <input aria-describedby="defaultRegisterFormPasswordHelpBlock" class="form-control" id="defaultRegisterFormPassword" name="password" placeholder="Password" type="password">
                    <small class="form-text text-muted mb-4" id="defaultRegisterFormPasswordHelpBlock">
                        At least 8 characters and 1 digit
                    </small>

                    <!-- Phone number -->
                    <input aria-describedby="defaultRegisterFormPhoneHelpBlock" class="form-control" id="defaultRegisterPhonePassword" name="phone" placeholder="Phone number" type="text">

                    <div class="form-row my-4">
                        <div
                            class="col">
                            <!-- First name -->
                            <select class="form-control" id="exampleFormControlSelect1" name="sexe">
                                <option value="masculin">masculin</option>
                                <option value="feminin">feminin</option>
                            </select>
                        </div>
                        <div
                            class="col">
                            <!-- Last name -->
                            <select class="form-control" id="exampleFormControlSelect1" name="role">
                                <option value="parent">parent</option>
                                <option value="enfant">enfant</option>
                            </select>
                        </div>
                    </div>

                    <input
                    name="image" type="file">

                    <!-- Sign up button -->
                    <button class="btn btn-info my-4 btn-block" type="submit">Inscription</button>


                </form>
                <!-- Default form register -->
                <!-- card-body.// -->
            </article>
            <!-- card.// -->


        </aside>
        <!-- col.// -->

        <!-- row.// -->
    </div>
</div><!--container end.//-->{% endblock %}
