{% extends "profile/profilebase.html.twig" %}

{% block title %}Menu Principale
{% endblock %}

{% block affiche %}
    Menu Principal
{% endblock %}
{% block body %}
    <div class="row" style="justify-content:space-around;">
        <!-- ============================================================== -->

        <!-- ============================================================== -->

        <!-- recent orders  -->
        <!-- ============================================================== -->
            <a class="card credentialing " href="{{path('map')}}"> <div class="overlay"></div>
            <div class="circle">

                <img alt="" src="fontawesome/svgs/regular/map.svg">
            </div>
            <p>Map</p>
        </a>
        <a class="card human-resources " href="{{path('enfant')}}">
            <div class="overlay"></div>
            <div class="circle">

                <img alt="" src="fontawesome/svgs/regular/grin.svg">
            </div>
            <p>Enfant</p>
        </a>
    </div>
{% endblock %}