{% extends 'base.html.twig' %}

{% block head %}
    <title>telechargement</title>
{% endblock %}
{% block body %}


    <section id="contact">
        <div class="wrapper">
            <h3>Contactez-nous</h3>
            <p>Chez Follow Me nous savons qu'avoir des enfants est pénible et egalement source d'inquiétude. C'est pourquoi nous mettons un point d'honneur à prendre en compte chacune de vos stress , pour célà nous sommes à votre disposition 24h/24.</p>
            <form action="index.html" class="" method="post">
                <label for="name">Nom</label>
                <input id="name" placeholder="votre nom" type="text">
                <label for="email">Email</label>
                <input id="email" placeholder="votre email" type="text">
                <input class="button_3" type="submit" value="OK">
            </form>
        </div>
    </section>

{% endblock %}
