{% extends 'base.html.twig' %}

{% block head %}
<title>telechargement</title>
{% endblock %}
{% block body %}


<section id="main-telechargement">
    <div class="wrapper">
        <h2>
            <strong>Telecharger</strong><br>notre application<br></h2>
        <img src="/images/grcode.jpg" alt="" class="qrcode">
        <img src="/images/google-play-badge.png" alt="" class="play-store">


    </div>
</section>

{% endblock %}